.bar-data-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 5px;
  width: 250px;
}

.bar-container {
  position: relative;
}

.bar-data-variable-bar {
  position: absolute;
  background-color: rgb(229, 1, 112);
  width: 30%;
  height: 3px;
  border-radius: 5px;
}

.bar-data-fixed {
  background-color: rgb(202, 201, 201);
  width: 100%;
  height: 3px;
  border-radius: 5px;
}

.bar-data-text-wrapper {
  display: flex;
  justify-content: space-between;
}
