.card-component-wrapper {
  border-bottom: 1px solid #a7a7a789;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}

#component-name{
  font-size: 0.5em;
}

.circle-strip-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.card-strips-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 600px) {
  .circle-strip-wrapper{
    padding: 0;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .card-component-wrapper{
    align-items: center;
  }

  .card-strips-wrapper{
    width: 100%;
  }
}