.card-component-wrapper {
  background-color: white;
  border: 1px solid #89898989;
  border-radius: 2px;
  padding: 20px;
}

.circle-strip-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.card-strips-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
