.app {
  height: 100vh;
  font-size: 2rem;
}

.app-content-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ram-storage-content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.box-container {
  padding: 20px;
}
